ci:
  skip:
    - lint
    - deptry
    - doctest
    - vulture
    - coverage
    - toc
    - about-tests
    - commit-policy
    - copyright-year
    - update-whitelist
default_language_version:
  python: "3.10"
default_stages:
  - pre-commit
exclude: |
  (?x)^(
    | poetry\.lock
    | migrations\/.*
    | whitelist\.py
    | \.idea\/.*
    | docs\/conf\.py
    | tests\/TESTS\.md
    | \.github\/COMMIT_POLICY\.md
  )$
repos:
  - repo: local
    hooks:
      # local so package can be imported to lint
      - id: lint
        name: lint
        entry: make .make/lint
        language: system
        types:
          - python
      # test docs
      - id: doctest
        name: doctest
        language: system
        entry: make .make/doctest
        pass_filenames: false
      # update whitelist
      - id: update-whitelist
        name: update whitelist
        language: system
        entry: make whitelist.py
        pass_filenames: false
      # analyze all files for reliable result
      - id: vulture
        name: check for unused code
        language: system
        entry: make .make/unused
        pass_filenames: false
      # script also handles coverage
      - id: coverage
        name: test source code coverage
        language: system
        entry: make coverage.xml
        pass_filenames: false
      # script written for specific format
      - id: toc
        name: update docs toctree
        language: system
        entry: make docs/constcheck.rst
        pass_filenames: false
      # check imports against dependencies
      - id: deptry
        name: deptry
        description: |
          deptry is a command line tool to check for issues with dependencies
          in a Python project, such as obsolete or missing dependencies.
        entry: make .make/check-deps
        language: system
        always_run: true
        pass_filenames: false
      # check tests/TESTS.md is up-to-date
      - id: about-tests
        name: about tests
        language: system
        entry: make tests/TESTS.md
        pass_filenames: false
      # check .github/COMMIT_POLICY.md is up-to-date
      - id: commit-policy
        name: commit policy
        language: system
        entry: make .github/COMMIT_POLICY.md
        pass_filenames: false
      # check copyright year in license
      - id: copyright-year
        name: copyright year
        language: system
        entry: make update-copyright
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.6.0"
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
        exclude: ^(.*\.rst)$
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
        exclude: ^(.*test\.key)$
      - id: forbid-submodules
      - id: no-commit-to-branch
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: pretty-format-json
        args:
          - "--autofix"
  - repo: https://github.com/ikamensh/flynt
    rev: "1.0.1"
    hooks:
      - id: flynt
        args:
          - "--line-length=79"
          - "--transform-concats"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
        args:
          - "--write"
  - repo: https://github.com/pappasam/toml-sort
    rev: "v0.23.1"
    hooks:
      - id: toml-sort
        args:
          - "--in-place"
          - "--all"
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: "v1.10.0"
    hooks:
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/jshwi/constcheck
    rev: "v0.9.0"
    hooks:
      - id: constcheck
  - repo: https://github.com/pre-commit/pre-commit
    rev: "v4.2.0"
    hooks:
      - id: validate_manifest
  - repo: https://github.com/siderolabs/conform
    rev: "v0.1.0-alpha.30"
    hooks:
      - id: conform
  - repo: https://github.com/PyCQA/bandit
    rev: "1.7.9"
    hooks:
      - id: bandit
        args:
          - "--recursive"
          - "-lll"
  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.17.0"
    hooks:
      - id: pyupgrade
        args:
          - "--py310-plus"
  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.1"
    hooks:
      - id: flake8
        exclude: ^(.*\/)?_?templates\.py
        additional_dependencies:
          - flake8-bugbear==22.12.6
          - flake8-simplify==0.21.0
  - repo: https://github.com/adrienverge/yamllint.git
    rev: "v1.35.1"
    hooks:
      - id: yamllint
        args:
          - "--config-data={rules: {line-length: {max: 79}}}"
  - repo: https://github.com/psf/black
    rev: "24.8.0"
    hooks:
      - id: black
        additional_dependencies:
          - tomli==2.0.1
  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.16.1"
    hooks:
      - id: mypy
        additional_dependencies: [types-pyyaml==6.0.12]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.2.0
    hooks:
      - id: add-trailing-comma
