name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  PYTHONIOENCODING: utf-8
  POETRY: bin/poetry/bin/poetry

jobs:
  build:
    name: ${{ matrix.os }}-python${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
        node-version:
          - "16.x.x"
        os:
          - macos-latest
          - ubuntu-latest
    steps:
      - name: Checkout build
        id: checkout-build
        uses: actions/checkout@v4
      - name: Install Poetry
        id: install-poetry
        run: pipx install poetry
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry
      - name: Install Python Packages
        id: install-python-packages
        run: poetry install
      - name: Build
        id: build
        run: make build
      - name: Check Dependencies
        id: check-dependencies
        run: make .make/check-deps
      - name: Test Scripts
        id: test-scripts
        run: |
          make .make/test-check-news
      - name: Upload Coverage
        id: upload-coverage
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: "${{ secrets.CODECOV_TOKEN }}"
      - name: Test Bump
        id: test-bump
        run: |
          make .make/test-bump
